
# Node modules
node_modules/

# SCSS cache
.sass-cache/
*.css.map

# Compiled CSS files
dist/
build/
*.css

# macOS / Windows system files
.DS_Store
Thumbs.db

# IDE/editor config files
.vscode/
.idea/

# Log files
*.log

# Temp files
*.tmp
*.swp

# Env files (if any)
.env
